/TestCryptoApiSdkProject/ApiKey.txt
/TestCryptoApiSdkProject/obj
/TestCryptoApiSdkProject/bin
/CryptoApisSdkLibrary/bin
/CryptoApisSdkLibrary/obj
/CryptoApiSnippets/obj
/CryptoApiSnippets/bin
/.vs
/PrivateKey.ppk
/RestSharp
/packages
/TestCryptoApiSdkProject/Credentials.txt
/CryptoApisSdkLibrary/credentials.txt
/Temp
/Diagram.xlsx
/Актуальное состояние.txt
/Docs/Historical Data – Crypto & Blockchain Developers API Documentation - Crypto APIs_files
/Docs/Historical Data – Crypto & Blockchain Developers API Documentation - Crypto APIs.html
/Warnings
/TestCryptoApiSdkProject/AccountCredentials.txt
/TestResults
/CryptoApisSdkLibrary.sln.DotSettings.user
/Credentials
